.heroContainer {
    height: 80vh;

}

.voronoiContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    clip-path: polygon(0 0%, 100% 0, 100% 60%, 0 100%);
}

